Flask==2.1.2
requests==2.27.1
kafka-python==2.0.2
opentelemetry-sdk==1.11.1
opentelemetry-api==1.11.1
opentelemetry-exporter-jaeger==1.11.1
opentelemetry-exporter-jaeger-proto-grpc==1.11.1
opentelemetry-exporter-jaeger-thrift==1.11.1
opentelemetry-exporter-otlp==1.11.1
opentelemetry-exporter-otlp-proto-grpc==1.11.1
opentelemetry-exporter-otlp-proto-http==1.11.1
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-kafka-python
opentelemetry-instrumentation-requests
